
.contact {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;

    h3 {
        font-weight: 300;
        margin: 5px 0 40px 0;
        color: #404040;
    }

    .border {
      margin: -30px auto 50px auto;
      width: 200px;
      border-top: 2px solid #1A8AD2;
    }

    .popup {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -340px;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 320px;
      padding: 40px 20px;
      box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07);
      transition: all 300ms ease-in;
  
      h2 {
        color: #000 !important;
        font-size: 27px;
        margin: 20px 0 10px 0;
      }
  
      p {
        font-size: 14px;
      }
  
      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        border-radius: 50%;
        box-shadow:
        3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
        8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
        17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
        36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
        100px 100px 80px rgba(0, 0, 0, 0.07);
      }
  
      button {
        color: #fff;
        background-color: #33BA7C;
        border: none;
        padding: 12px;
        width: 200px;
        margin: 40px auto -15px auto;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .contact-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem auto;
    padding: 50px 30px 30px 30px;
    border-radius: 5px;
    background: url(../images/formbg.png) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
      input,
      textarea {
        position: relative;
        width: 90%;
        padding: 15px 10px;
        font-size: 12px;
        margin: 10px auto;
        border: none;
        border-radius: 3px;
        background-color: #F4F8FF;
        outline: none;
      }
  
      textarea {
        height: 120px;
        resize: vertical;
      }

      .input-error {
        border: 2px solid #FC4E49;
      }

      .error-message{
        color: #fff;
        text-transform: capitalize;
        width: 90%;
        text-align: left;
        font-size: 12px;
        font-style: italic;
        margin: -5px auto 15px auto;
      }
    
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #fff;
      background-color: #0072BC;
      color: #fff;
      font-size: 15px;
      -webkit-appearance: none;
      outline: none;
      margin: 20px auto 0 auto;
      cursor: pointer;
      transition: 200ms;

      &:hover {
        background-color: #1A8AD2;
        width: 160px;
    }
  }  
}

.footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    justify-content: space-evenly;

    .footer-row {
        display: flex;
        align-items: center;

        p, a {
            font-size: 14px;
            margin: 20px 10px;
            padding: 5px 0;
            color: #404040;
            text-decoration: none;
        }
    }

    .google-maps {
      width: 450px;
      height: 300px;
      margin: 0 20px;
      border-radius: 5px;
    }
}


.copyright {
    font-size: 10px;
    text-align: center;
    width: 100%;

    a {
        color: #000;
        font-size: 10px;
    }
}


//
// ---------- MOBIL ----------
//
  @media screen and (max-width: 673px) {

  .contact-form {
    width: 100%;
    border-radius: 0;
  }

  .footer {
    justify-content: center;

    .google-maps {
      width: auto;
      padding: 0 20px;
      margin-top: 40px;
    }
  }
}

//
// ---------- MOBIL ----------
//
  @media screen and (max-width: 600px) {
      
    .copyright {
        margin-bottom: 62px;
    }
  }



//
// ---------- MOBIL ----------
//
@media screen and (max-width: 500px) {


    .contact {
      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 16px;
      }

      .contact-form {
        input,
        textarea {
          width: 100%;
          font-size: 14px;
          padding: 10px;
          margin: 10px auto;
        }

        .error-message{
          width: 100%;
        }

        .button {
            width: 120px;
            padding: 5px 30px;
          }
      }

      .footer {
        margin: 30px auto;
        .footer-row {
    
            p {
                padding: 5px 0;
            }
        }
    
        .maps {
            margin-top: 50px;
        }
    }
  }
}


@media screen and (max-width: 450px) {

  .contact-form {
    padding: 50px 15px 30px 15px;
  }

  .footer {
    .google-maps {
      width: 100%;
      height: auto;
    }
  }
}
